[defaults]

### The defaults! Set for basic Network Automation
### Find other options at https://docs.ansible.com/ansible/latest/reference_appendices/config.html

# Sets the path to the inventory file.
inventory = ~/ansible

# Ask for password for each playbook use. Useful for Network CLI connections
ask_pass = False

# Turn off deprecation warnings
;deprecation_warnings=False

# Specify roles and collections paths
roles_path = /etc/ansible/roles
collections_paths = /etc/ansible/collections

# Enable gathering of network facts for Cisco IOS
gathering = smart
gather_subset = '!all'

# Set the retry limit for failed connections
retry_files_enabled = False

# Enable privilege escalation
become = True
become_method = enable

# Use YAML output format. Can be changed to Json if preferred
stdout_callback = yaml

# Time to wait for SSH connection (Seconds)
timeout = 30

[privilege_escalation]
### Network device requires you to enter enable mode first before configuration mode.
become_ask_pass = False

[persistent_connection]
### Control SSH connection settings

#Auto is preferred for most enviornemnts. If working with older equipment, set to Paramiko and configure [Paramiko] section.
ssh_type = paramiko

#Set your SSH Arguments. Useful if you're in an enviornment that works with FIPS or advanced encryption standards
ssh_args = -o KexAlgorithms=+diffie-hellman-group1-sha1,diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1 -o HostKeyAlgorithms=+ssh-rsa ControlMaster=auto -o ControlPersist=60s
;host_key_auto_add=False
host_key_checking = False

# Increase timeout and set persistent connections for network modules
persistent_connection_timeout = 30
persistent_command_timeout = 60

# Increase the timeout for SSH connections
pipelining = True
retries = 3

[accelerate]
###Can help accelerate deployments. Use by a case-by-case basis on what suits your enviornment best
# accelerate_port = 5099
# accelerate_timeout = 30
# accelerate_connect_timeout = 5

[loggers]
### Log path for Ansible output
log_path = /var/log/ansible.log

[paramiko_connection]
###Configure Paramiko Configurations for Ansible
###WARNING: Paramiko is not recommended for Ansible connections as it uses weaker ciphers/encryption standards.
###Try configuring the SSH params above first or using ansible-pylibssh for stronger/secure connections
#Set to True if running into "transport shut down or saw EOF" failure
look_for_keys=False


[netconf_connection]
### Enables host jump using Netconf. If set to true, confirm ssh settings are present in ~/.ssh/config or wherever you keep your ssh/config file
;ssh_config=
;netconf_plugins=~/.ansible/plugins/netconf:/usr/share/ansible/plugins/netconf

[connection]
# (boolean) This is a global option, each connection plugin can override either by having more specific options or not supporting pipelining at all.
# Pipelining, if supported by the connection plugin, reduces the number of network operations required to execute a module on the remote server, by executing many Ansible modules without actual file transfer.
# It can result in a very significant performance improvement when enabled.
# However this conflicts with privilege escalation (become). For example, when using 'sudo:' operations you must first disable 'requiretty' in /etc/sudoers on all managed hosts, which is why it is disabled by default.
# This setting will be disabled if ``ANSIBLE_KEEP_REMOTE_FILES`` is enabled.
;pipelining=False

# (string) Manage an SSH Agent via Ansible. A configuration of ``none`` will not interact with an agent, ``auto`` will start and destroy an agent via ``ssh-agent`` binary during the run, and a path to an SSH_AUTH_SOCK will allow interaction with a pre-existing agent.
;ssh_agent=none

# (str) When ``SSH_AGENT`` is ``auto``, the path or name of the ssh agent executable to start.
;ssh_agent_executable=ssh-agent

# (int) For keys inserted into an agent defined by ``SSH_AGENT``, define a lifetime, in seconds, that the key may remain in the agent.
;ssh_agent_key_lifetime=